% Adapted from https://tex.stackexchange.com/questions/281415/showcase-of-beautiful-invitations-in-tex

\clearpage

\textsc{TO}: \fbox{ \parbox{4cm}{ {{guest.name}}\\{{guest.address}} } }

\vfill

{\huge \scshape INVITATION}
\bigbreak
\textit{Dear {{guest.name}},

  I'd love to invite you to my party.
  \medbreak
  Sincerly, your friend/foe.
}
\bigbreak
\bigbreak
\textsc{\large when?}\textit{
  September 20\/\rlap{,}\textsuperscript{th} 2022
  20\kern.5pt:\kern.5pt15
}
\medbreak
\textsc{\large where?}\textit{
  13 Typesetter's Row,
  Hackerville
}
